BACKEND_URL=https://backend-2.mapswipe.dev.togglecorp.com
CSRFTOKEN_KEY=MAPSWIPE-ALPHA-2-CSRFTOKEN
MANAGER_URL=https://manager-2.mapswipe.dev.togglecorp.com

ENABLE_AUTHENTICATION=false

# XXX: For the key, go to the managers dashboard login page, open th network tab, after login you can see the key in the network tab
FB_AUTH_URL=https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Your web-app login credential
FB_USERNAME=me@example.com
FB_PASSWORD=my-very-good-password

## Production
# BACKEND_URL=https://backend.mapswipe.org
# CSRFTOKEN_KEY=MAPSWIPE-PROD-CSRFTOKEN
# MANAGER_URL=https://managers.mapswipe.org
